*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --heading-color: #080415;
    --desc-color: #51586a;
    --section-color: #fbfaff;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

img {
    display: block;
}

button,
input,
textarea,
select {
    font-family: inherit;
}

button {
    border: none;
    outline: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: 62px;

    background: var(--primary-color);
    color: #fdfdfd;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
}

.btn:hover {
    opacity: 0.8;
}

.section-heading {
    margin-bottom: 20px;
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.6rem;
    letter-spacing: -0.224rem;
    text-align: center;
}

.section-desc {
    max-width: 370px;
    margin: 0 auto;
    color: var(--desc-color);
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
}

.section-title {
    color: var(--heading-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4rem;
    letter-spacing: -0.128rem;
}

.logo {
    transition: scale 0.5s ease;
}

.logo:hover {
    scale: 1.1;
}

/* Header */
.header {
    position: sticky;
    inset: -12px auto auto 0;
    z-index: 10;
    padding: 20px 0 8px;
    background: var(--section-color);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__contact-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
}

.header__contact-mail {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3rem;
    text-decoration: underline;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar-item {
    padding: 0 21.5px;
}

.navbar-item:first-child {
    padding-left: 0;
}

.navbar-item:last-child {
    padding-right: 0;
}

.navbar-item__link {
    color: var(--desc-color);
    font-size: 1.8rem;
}

.navbar-item__link:hover {
    color: var(--heading-color);
}

/* Hero */
.hero {
    background: var(--section-color);
    overflow: hidden;
}

.hero__col,
.hero__media {
    position: relative;
}

.hero__col:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
}

.hero__img-wrap {
    max-width: 514px;
}

.hero__img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.hero__img-decor {
    position: absolute;
    inset: auto -150px 0 auto;
}

.hero__media .hero__img-decor {
    inset: auto auto -20px -75px;
}

.hero__content {
    padding: 137px 0 38px;
}

.hero__heading {
    color: var(--heading-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 7.6rem;
    letter-spacing: -0.32rem;
}

.hero__desc {
    margin: 20px 0 50px;
    text-align: left;
}

.hero__cta-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero__label {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    text-decoration: underline;
}

.hero__label:hover {
    cursor: pointer;
    opacity: 0.8;
}

.hero__socials-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 104px;
}

.hero__socials-desc {
    color: var(--desc-color);
    font-weight: 500;
    line-height: 3rem;
}

.hero__socials {
    display: flex;
    gap: 20px;
}

.hero__social-link {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
    color: var(--heading-color);
}

.hero__social-link:hover {
    border: none;
    background: var(--heading-color);
    color: var(--section-color);
}

/* Clients */
.clients {
    margin-top: 98px;
}

.clients__row {
    align-items: center;
}

.clients__heading {
    display: flex;
    gap: 13px;
    color: var(--heading-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 5rem;
    letter-spacing: -0.168rem;
}

.clients__heading::before {
    width: 86px;
    height: 2px;
    margin-top: 22px;
    background: var(--primary-color);
    content: "";
}

.clients__list {
    display: grid;
    grid-template-columns: 1fr 1.4fr 1.4fr 0.6fr;
    align-items: center;
}

.clients-item {
    display: flex;
    gap: 13px;
}

.clients-item:first-child {
    margin-bottom: 34px;
}

.clients__group:first-child .clients-item:last-child .clients-item__logo {
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 50%;
    background: #14a800;
}

.clients-item__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--section-color);
}

.clients__group:nth-child(2) .clients-item:last-child .clients-item__logo-wrap {
    background: #fff;
}

/* Expertise */
.expertise {
    margin-top: 133px;
}

.expertise__desc {
    max-width: 534px;
}

.expertise__list {
    margin-top: 60px;
}

.expertise-item {
    height: 100%;
    padding: 33px 43px;
    background: var(--section-color);
    transition: 0.4s ease;
}

.expertise-item__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid #efedf3;
    background: #fff;
}

.expertise-item__title {
    margin: 22px 0 15px;
}

.expertise-item__desc {
    max-width: 285px;
    margin: 0;
    text-align: left;
}

.expertise__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.expertise__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cecdd0;
    cursor: pointer;
}

.expertise__dot--active {
    width: 12px;
    height: 12px;
    outline: 1px solid var(--primary-color);
    outline-offset: 3px;
    background: var(--primary-color);
}

/* Projects */
.projects {
    padding: 86px 0;
    margin-top: 140px;
    background: var(--primary-color);
}

.projects__row {
    align-items: center;
}

.projects__heading {
    margin: 0;
    color: #fff;
    text-align: left;
}

.projects__desc {
    max-width: 370px;
    padding-left: 34px;
    margin: 0;
    color: #cec4fa;
    text-align: left;
}

.projects__list {
    row-gap: 30px;
    margin-top: 70px;
}

.projects-item {
    position: relative;
    height: 100%;
    padding: 24px 23px 23px 34px;
    background: var(--section-color);
    overflow: hidden;
}

.projects-item__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-item__desc {
    max-width: 220px;
    margin: 10px 0 20px;
    color: var(--desc-color);
    line-height: 2.3rem;
}

.projects-item__link {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3rem;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}

.projects-item__img-wrap {
    max-width: 246px;
}

.projects-item__img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.projects__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.projects__btn {
    background: #fff;
    color: var(--heading-color);
}

.projects-item__decor {
    position: absolute;
    inset: 0 0 auto auto;
    height: 100%;
}

/* Profile */
.profile {
    margin-top: 140px;
}

.profile__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.profile__greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    color: var(--primary-color);
}

.profile__heading {
    margin: 10px 0 15px;
}

.profile__desc {
    max-width: 570px;
}

.profile__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    padding: 20px 95px;
    margin: 70px 0;
    border-top: 1px solid #cecdd0;
    border-bottom: 1px solid #cecdd0;
}

.profile__stat {
    display: flex;
    flex-direction: column;
}

.profile__stat-number {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 7.6rem;
    letter-spacing: 0.168rem;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 3px;
}

.profile__stat-label {
    color: var(--desc-color);
    font-size: 1.8rem;
    line-height: 3rem;
}

.row:last-child .profile__col {
    padding-right: 0;
    padding-left: 0;
}

.profile__media {
    position: relative;
}

.profile__thumb-wrap {
    position: relative;
}

.profile__thumb {
    width: 100%;
}

.profile__video-label {
    position: absolute;
    inset: auto 10px 10px auto;
    background: #fff;
    color: var(--desc-color);
    text-transform: uppercase;
}

.profile__video-label:hover {
    opacity: 1;
}

.profile__play-button {
    position: absolute;
    inset: 50% auto auto 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);

    translate: -50% -50%;
    cursor: pointer;
}
